.game {
  /* Full-screen grid */
  display: grid;
  width: 100%;
  height: 100vh;
  text-align: center;
  grid-template-columns: minmax(160px, 280px) 1fr minmax(160px, 280px);
  grid-template-rows: auto auto 1fr 1fr auto;
  grid-template-areas:
    'header header header'
    'level level level'
    'roundProgress roundProgress roundProgress'
    'letters letters letters'
    'player1 . player2';

  &__header {
    grid-area: header;
    text-align: left;
  }

  &__level {
    grid-area: level;
  }

  &__roundProgress {
    grid-area: roundProgress;
    align-self: center;
  }

  &__letters {
    grid-area: letters;
    justify-self: center;
  }

  &__player1 {
    grid-area: player1;
  }

  &__player2 {
    grid-area: player2;
  }
}
