@import '../../scss/variables/colors.module.scss';
@import '../../scss/variables/magic-numbers.module.scss';

.chat {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  width: $chat-width;
  // Position inner content
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  background-color: $black-07;
  z-index: 2
}
