@import '../../scss/variables/colors.module.scss';
@import '../../scss/variables/typography.module.scss';

.rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__heading {
    color: $yellow;
    margin-bottom: $blh * 1rem;
  }

  &__create,
  &__text {
    margin-bottom: $blh * 1rem;
  }
}
